---
layout: base
---

<article class="mx-auto prose dark:prose-dark">
<a href="/words" class="box-link">&larr; Back to Words</a>
  {% if tags.includes("til") %}
  <a href="/today-i-learned" class="box-link">&larr; Back to Today I Learned</a>
  {% endif %}
  {% if pageTitle %}<h1 class="text-3xl text-black dark:text-white">{{ pageTitle }}{% if tags.includes("til") %} <span class="text-teal-dark dark:text-teal text-sm">TIL #{{ TILIndex }}</span>{% endif %}</h1>{% endif %}
  {{ content | safe }}
</article>
