---
layout: base
---

<article>
  <a href="/blog">&larr; Back to Blog</a>
  {% if pageTitle %}<h1 class="text-3xl text-black dark:text-white">{{ pageTitle }}</h1>{% endif %}
  {{ content | safe }}
</article>
