---
title: leininger.tech
layout: default
---

<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap" rel="stylesheet">
{% block content %}
  <div class="flex justify-center items-center">
    <div>
      <h1 class="text-6xl text-black dark:text-white font-bold yo">Hello, I'm David <div class="say-my-name relative">Leininger</div>.</h1>
      <h2 class="text-3xl">I design and build things for the internets.</h2>
      <h3 class="text-lg my-4">I like learning and <s>sometimes</s> hardly ever write about it.</h3>
      <p class="text-xs my-2">This is some small text.</p>
    </div>
  </div>
{% endblock %}
